@media (hover: none) and (pointer: coarse) {
    .touch-controls.touch-controls-visible {
        display: flex;
    }
}

@media (hover: none) and (pointer: coarse) and (orientation: portrait) {
    .rotate-device-message {
        display: block;
    }

    .game-container {
        display: none;
    }
}